<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tete.tutorial.model.dao.TakesMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.tete.tutorial.model.entity.Takes">
		<id column="student_id" property="studentId" />
		<result column="sec_id" property="secId" />
		<result column="score" property="score" />
	</resultMap>

</mapper>
